{% load static%}
<div class="description">
    <h3>{{ exercise.title }}</h3><br>
    <p>{{ text }}</p>
    <ul class="steps">
        {% for item in objectives %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>
<div id="notification" class="notification-hidden">Copiado!</div>
<div class="exercise">
    <div class="snippet" id="codeSnippets">
        <div class="snippet-toggle">
            <button id="cppSnippetBtn" class="active">
                <iconify-icon icon="file-icons:c" style="font-size: 30px;"></iconify-icon>
            </button>
            <button id="pySnippetBtn">
                <iconify-icon icon="fontisto:python" style="font-size: 30px;"></iconify-icon>
            </button>
            <button id="copyBtn">
                <iconify-icon icon="mdi:content-copy" style="font-size: 30px;
                                                color: aliceblue;">
                </iconify-icon>
            </button>
        </div>
        <pre id="cppSnippet" class="active"><code class="language-cpp" id="cppCode">{{ exercise.cpp_snippet }}</code></pre>
        <pre id="pySnippet" class="inactive"><code class="language-python" id="pyCode">{{ exercise.py_snippet }}</code></pre>
    </div>
</div>
<script src="{% static 'js/snippet.js' %}"></script>

