/*--------------------------------------------------------*/
@font-face {
    font-family: 'MonoCraft'; /* Give a unique name to the font */
    src: url('/static/fonts/Monocraft.otf') format('opentype');
    /* You can also specify other font formats for cross-browser compatibility */
}
/*Style the Exercises Pages*/
.description {
    margin-bottom: 20px;
}

.snippet-toggle {
    text-align: left;
    background-color: rgb(70, 130, 165);
    margin-bottom: 0;
}

.snippet-toggle button {
    background-color: rgb(70, 130, 165);
    border: none;
    padding: 8px;
    margin: 0;
    cursor: pointer;
}

.snippet-toggle button.active {
    background-color: rgb(28, 32, 35);
    color: #2EBAA1;
}

.snippet {
    border: 3px solid #2EBAA1;
    padding: 0%;
    background-color: rgb(70, 130, 165);
    border-radius: 4px;
}

#pySnippet, #cppSnippet {
    margin: 0;
}

code{
    font-family: MonoCraft;
    font-size: 75%;
}