/*--------------------------------------------------------*/
@font-face {
    font-family: 'MonoCraft'; /* Give a unique name to the font */
    src: url('/static/fonts/Monocraft.otf') format('opentype');
    /* You can also specify other font formats for cross-browser compatibility */
}
/*Style the Exercises Pages*/
.description {
    margin-bottom: 20px;
}

.snippet-toggle {
    text-align: left;
    background-color: #183D3D;
    margin-bottom: 0;
}

.snippet-toggle button {
    background-color: #183D3D;
    border: none;
    padding: 8px;
    margin: 0;
    cursor: pointer;
    transition: none;
}

.snippet-toggle button.active {
    background-color: rgb(28, 32, 35);
    color: #93B1A6;
}

.snippet {
    border: 3px solid #93B1A6;
    padding: 0%;
    background-color: #183D3D;
    border-radius: 4px;
}

#pySnippet, #cppSnippet {
    margin: 0;
}

code{
    font-family: MonoCraft;
    font-weight: bolder;
    font-size: 80%;
}

iframe {
    height: 500px;
    border: none;
}