{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="categText">
    <h2>{{ type.name }} {{ type.traduc }}</h2>
    <p class="themeContext">{{ type.content|safe}}</p>
    {% if type.hasSubtypes %}
    <h3><br>Datos Abstractos Vistos en Clase</h3>
        <div class="category-grid">
            {% for subtype in subtypes %}
            <a href="{% url 'subtipos_detail' type.name subtype.name %}">
                <div class="category-card"> 
                    <h3>{{ subtype.name }}</h3>
                </div>
            </a>
            {% endfor %}
        </div>
    {% endif %}
</div>  
{% endblock %}
