<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura de Datos</title>
    {% load static %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/ashes.min.css" integrity="sha512-KX15mI6Sw0VzQyAOf4MAPS9BZ0tWXyZrGPHKSkqDmy40Jl+79f8ltpj6FvLJ+3obnH56ww0ukclsd6xGAxb5mA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/exercise.css' %}">
</head>
<body>
    <header>
        <!--Desktop Nav-->
        <div class="desktop-nav-container">
            <img src="{% static 'img/logo.png' %}">
            <nav>
                <ul>
                    <li><h1>Estructura de Datos B 2023-II</h1></li>
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="{% url 'temas' %}">Temas</a></li>
                    <li><a href="{% url 'ejercicios' %}">Ejercicios</a></li>
                </ul>
            </nav>
        </div>
        <!--Mobile Nav-->
        <div class="mobile-nav-container">
            <button id="openNav">&#9776;</button>
            <div class="logo">
                <img src="{% static 'img/logo.png' %}">
            </div>
            <div id="myNav" class="overlay">
                <div class="closebtn-container">
                    <button class="closebtn" id="closeNav">&times;</button>
                    <span class="contenido-text" id="menuText">Menú</span>
                </div>
                <div class="overlay-content">
                    <ul>
                        <li><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li><a href="{% url 'temas' %}">Temas</a></li>
                        <li><a href="{% url 'ejercicios' %}">Ejercicios</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>
