{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ category.name }}</h2>
<p>{{ category.content }}</p>

<h3>Ejemplo: (el ejercicio es aleatorio pero de momento solo hay 1)</h3>
<p>{{ exercise.title }}</p>
<p>{{ exercise.desc }}</p>

<div class="exercise">
    <div class="snippet" id="codeSnippets">
        <div class="snippet-toggle">
            <button id="pySnippetBtn" class="active">Python</button>
            <button id="cppSnippetBtn">C++</button>
        </div>
        <pre id="pySnippet" class="active">{{ exercise.py_snippet }}</pre>
        <pre id="cppSnippet" class="inactive">{{ exercise.cpp_snippet }}</pre>
    </div>
</div>
<script src="{% static 'js/snippet.js' %}"></script>
</div>
{% endblock %}
