{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ category.name }}</h2>
<p>{{ category.content }}</p>

<h2>Ejemplo:</h2>
<h3>{{ exercise.title }}</h3>
<p>{{ exercise.desc }}</p>

<div class="exercise">
    <div class="snippet" id="codeSnippets">
        <div class="snippet-toggle">
            <button id="pySnippetBtn" class="active">
                <iconify-icon icon="fontisto:python" style="font-size: 30px;"></iconify-icon>
            </button>
            <button id="cppSnippetBtn">
                <iconify-icon icon="file-icons:c" style="font-size: 30px;"></iconify-icon>
            </button>
        </div>
        <pre id="pySnippet" class="active">{{ exercise.py_snippet }}</pre>
        <pre id="cppSnippet" class="inactive">{{ exercise.cpp_snippet }}</pre>
    </div>
</div>
<script src="{% static 'js/snippet.js' %}"></script>
</div>
{% endblock %}
