/* Style the tipo cards */
.tipo-card{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: #5C8374 !important;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
/* Add hover effect to cards */
.tipo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
.tipo-card h3{
    font-size: 110%;
    font-family: 'Dosis', sans-serif;
    color: #fff !important;
    margin: 10px 10px 2px 10px;
}